@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Orbitron', sans-serif; */

}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

/* Add only if you want custom scrollbars */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;


}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(81, 81, 81, 0.7);
  border-radius: 4px;

}
.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #ffffff;
  
}

